<h1>Contact Us</h1>

<p>We'll be happy to help you out.</p>

<h2>Meet our team members</h2>

<form action="/contact" method="GET">
  <label for="member">Search for a team member</label>
  <input
  id="member"
  type="text"
  value="<%= params[:member] %>"
  name="member">

  <input type="submit">
</form>

<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<%= link_to "Learn more about us", about_path %>
<a href="https://www.lewagon.com">See the bootcamp we're doing</a>
